.main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main_container .main_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main_container .main_header h1 {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 4px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.main_container .main_header p {
  color: grey;
  padding-top: 0.4rem;
  font-size: 0.6rem;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
}

.main_container .divider_home {
  width: 20%;
  border-bottom: 4px dotted grey;
  padding-top: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .main_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main_container .main_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 6rem;
    width: 100%;
  }

  .main_container .main_header h1 {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 4px;
    text-align: center;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding-right: 5rem;
  }

  .main_container .main_header p {
    color: grey;
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding-right: 5rem;
  }

  .main_container .divider_home {
    max-width: 10%;
    border-bottom: 4px dotted grey;
    margin-left: 50%;
    padding-top: 2.5rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) and (min-width: 992px) {
  .main_container .divider_home {
    margin-left: 75%;
  }
}
