$primary-color: #00a8ff;
$secondary-color: #fff;

.reservation {
    // center the reservation the content with flexbox
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // set the background color
    color: $secondary-color;
    h2 {
        z-index: 10;
        width: 95%;
        text-align: center;
        padding: 30px 0;
        border-bottom: 1px solid $secondary-color;
        text-transform: uppercase;
    }

    p {
        width: 90%;
        text-align: center;
        padding: 20px 0;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
        width: 88%;

        select, input {
            color: $secondary-color;

            option {
                color: black;
                width: 50%;
            }
            width: 100%;
            padding: 12px;
            border-radius: 50px;
            outline: none;
            appearance: none;
            border: 1px solid wheat;
            background-color: transparent;
         }

         button {
             width: auto;
             align-self: center;
             padding: 14px;
             border-radius: 50px;
             border: 1px solid wheat;
             background-color: #263004fd;
             color: $secondary-color;

             &:hover {
                cursor: pointer;
             }
         }
    }

    .form-bg {
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        left: 0;
        width: 93%;
        height: 80%;
        background-color: #364407d5;
        border-radius: 10px;
    }

}

.image-bg {
    position: absolute;
    // background-color: #96bf0f11;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    img {
        height: 100%;
        width: 100%;
    }

    .img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #364407;
        opacity: 0.79;
    }
}

.react-datepicker {
    background-color: #b0b895 !important;
    // .react-datepicker__current-month, .react-datepicker__day-name {
    //      color: $secondary-color !important;
    // }

    .react-datepicker__navigation, .react-datepicker__navigation--next {
        right: 0;
        background: black !important;
        color: blue !important;
    }
}

@media (min-width: 768px) {
    .reservation {

        .form-bg {
            width: 50%;
            form  {
                flex-direction: row;
                flex-wrap: wrap;
                 
                .form-group, .react-datepicker-wrapper {
                    width: 45%;
                    margin: 0 15px;
                }
            }
        }
    }
}