$primary-color: #00a8ff;
$secondary-color: #fff;

.reservation {
    // center the reservation the content with flexbox
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // set the background color
    background-color: #97bf0f;
    color: $secondary-color;
    h2 {
        font-size: 1.6rem;
        width: 95%;
        text-align: center;
        padding: 30px 0;
        border-bottom: 1px solid $secondary-color;
    }

    p {
        width: 90%;
        text-align: center;
        padding: 20px 0;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
        width: 88%;

        select, input {
            color: $secondary-color;

            option {
                color: black;
                width: 50%;
            }
            width: 100%;
            border: 1px solid $secondary-color;
            padding: 10px;
            border-radius: 50px;
            outline: none;
            appearance: none;
            border: 1px solid $secondary-color;
            background-color: transparent;
         }

         button {
             width: auto;
             align-self: center;
             padding: 10px;
             border-radius: 50px;
             border: 1px solid $secondary-color;
             background-color: transparent;
             color: $secondary-color;

             &:hover {
                cursor: pointer;
             }
         }
    }

}