.reservation {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.reservation h2 {
  z-index: 10;
  width: 95%;
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
}

.reservation p {
  width: 90%;
  text-align: center;
  padding: 20px 0;
}

.reservation form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
  width: 88%;
}

.reservation form select, .reservation form input {
  color: #fff;
  width: 100%;
  padding: 12px;
  border-radius: 50px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid wheat;
  background-color: transparent;
}

.reservation form select option, .reservation form input option {
  color: black;
  width: 50%;
}

.reservation form button {
  width: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 14px;
  border-radius: 50px;
  border: 1px solid wheat;
  background-color: #263004fd;
  color: #fff;
}

.reservation form button:hover {
  cursor: pointer;
}

.reservation .form-bg {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  width: 93%;
  height: 80%;
  background-color: #364407d5;
  border-radius: 10px;
}

.image-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.image-bg img {
  height: 100%;
  width: 100%;
}

.image-bg .img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #364407;
  opacity: 0.79;
}

.react-datepicker {
  background-color: #b0b895 !important;
}

.react-datepicker .react-datepicker__navigation, .react-datepicker .react-datepicker__navigation--next {
  right: 0;
  background: black !important;
  color: blue !important;
}

@media (min-width: 768px) {
  .reservation .form-bg {
    width: 50%;
  }
  .reservation .form-bg form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .reservation .form-bg form .form-group, .reservation .form-bg form .react-datepicker-wrapper {
    width: 45%;
    margin: 0 15px;
  }
}
/*# sourceMappingURL=main.css.map */