ul {
  list-style-type: none;
}

.logo_div {
  width: 4rem;
  height: 4rem;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    padding-left: 20px;
  }
}

img {
  width: 100%;
  display: block;
  height: 100%;
}

.nav_body {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
}

.sidebar-links {
  text-align: center;
} 

.navbar {
  height: 10%;
  padding: 1rem;
  display: grid;
  align-items: center;

  .head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-right: 15px;
  }

}


@media screen and (min-width: 768px) {
  .navbar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 9rem;
    border-right: 1px solid grey;
    align-items: center;
    z-index: 20;
    padding: 0;
    margin: 0;
  }
  
  .head {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3rem;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 15px;
  
    .social_icons {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }
  
    .icon_btn {
      padding: 0;
      margin: 0;
    }
  
    p {
      font-size: 0.5rem;
      font-weight: bold;
      align-self: center;
    }
  }
}
