.carousel_container {
  width: 100vw;
  margin-top: 3%;
  padding: 50px 10px;
}

.info_icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;

  .icon_btn {
    border: 1px solid grey;
  }
}

a {
  text-decoration: none;
}